<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>StarMail: 
            
            {% if current_user.is_anonymous %}
            <a href="/login">Login</a>
            <a href="/sign-up">Sign Up</a>
            {% else %}
            <a href="/index">Home</a>
            <a href="/logout">Logout</a>
            <a href="/compose">Compose New Message</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
            messages %} {% for category, message in messages %} {% if category ==
            'error' %}
            <div role="alert"></div>
              {{ message }}
            </div>
            {% else %}
            <div role="alert">
              {{ message }}
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>