{% extends "base.html" %} {% block content %}
<h1 align="center">Compose</h1>
<div class="container">
  <form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{ form.email_to.label }} <br />
      {{ form.email_to(size=64, class="form-control")}} {% for error in
      form.email_to.errors %}
      <span>[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.subject.label }} <br />
      {{ form.subject(size=60, class="form-control")}} {% for error in
      form.subject.errors %}
      <span>[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.body.label}} <br />
      {{ form.body(rows=20, class="form-control", id="mytextarea")}} {% for
      error in form.body.errors %}
      <span>[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      <div class="form-group">
        <label for="note" class="col-md-2 control-label">Notes</label>
          <div class="input-group">
           <select name="note" id="note" class="form-select">
            <option value="None">Select a note to import</option>
           {% for note in user.notes %} {% if note.deleted == False%}
           {% set date = note.date ~ '/' %}
           {% set date = date.split(" ") %}
           <option value="{{note.id}}">{{note.title}} &nbsp;&nbsp;&nbsp;&nbsp; Created: {{date[0]}}</option>
           {% endif %}{% endfor %}
           </select>
         <div class="input-group-addon input-group-button">
          <input name="importNote" type="submit" value="importNote" class="btn btn-primary" />
         </div>
        </div>
      </div>
    </p>
    <p>
      {{ form.attachment.label }} <br />
      {{ form.attachment(class="form-control") }}
    </p>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
  </form>
</div>
{% endblock %}
