{% extends "base.html" %} {% block content %}
<h1 align="center">Deleted Notes</h1>
<ul class="list-group list-group-flush" id="view-all">
  <li>
    <span style="float: left">
      <a
        href="{{ url_for('view.notes', user=user) }}"
        class="btn btn-info"
        role="button"
        >Back to All Notes</a
      >
    </span>
  </li>
</ul>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %} {% if note.deleted == True %}
  <br />
  <li class="list-group-item">
    <div p-3 mb-2 bg-white text-dark>
      <h4 style="display: inline">Title:</h4>
      <h5 style="display: inline">{{ note.title }}</h5>
      <span style="float: right">{{ note.date }}</span> {{ note.data |safe}}
      <p>
        <span style="float: right">
          <a
            href="{{ url_for('view.recoverNote', id=note.id) }}"
            class="btn btn-success"
            role="button"
            >Recover</a
          >
          <a
            href="{{ url_for('view.deleteNote', id=note.id) }}"
            class="btn btn-danger"
            role="button"
            >Delete Permanently</a
          >
        </span>
      </p>
    </div>
  </li>
  {% endif %} {% endfor %}
</ul>
{% endblock %}
