{% extends "base.html" %} {% block content %}
<div class="container">
  <p>
    From: {{ sender }} <br />
    To: {{ receiver }} <br />
    Subject: {{ subject }} <br />
    Body: <br />
  </p>
  {% if isHTML %}
  <p>{{ body |safe }}</p>
  {% else %}
  <pre
    style="white-space: pre-wrap"
  ><span style="font-family: Arial, Helvetica, sans-serif; font-size: 16px" >{{ body }}</span></pre>
</div>
{% endif %} <br />
  <div class="container">
  {% for i in range(attachments_length) %}
  <a href="{{ url_for('view.download', index=i, uid=uid) }}" class="link-dark m-2">{{ attachments[i].filename.replace(' ', '_')}}</a>
  {% endfor %}
</div>
<br />
{% if forward==False %}
  <form action="" method="post"><p>{{ form.forward(class="btn btn-primary" ) }}</p></form>
{% endif %} {% if reply_flag==False %}
<form action="" method="post"><p>{{ form.reply(class="btn btn-primary") }}</p></form>
{% endif %} 

{% if forward==True %}
<h1 align="left"><b>Forward:</h1>
  <div class="container">
    <form action="" method="post" novalidate enctype="multipart/form-data">
      {{ form.compose.hidden_tag() }}
      <p>
        {{ form.compose.email_to.label }} <br />
        {{ form.compose.email_to(size=10, class="form-control")}} {% for error in
        form.compose.email_to.errors %}
        <span>[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.compose.subject.label }} <br />
        {{ form.compose.subject(size=60, class="form-control")}} {% for error in
        form.compose.subject.errors %}
        <span>[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.compose.body.label}} <br />
        {{ form.compose.body(rows=20, class="form-control", id="mytextarea")}} {% for
        error in form.compose.body.errors %}
        <span>[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.compose.attachment.label }} <br />
        {{ form.compose.attachment() }}
      </p>
      <p>{{ form.compose.submit(class="btn btn-primary") }}</p>
    </form>
  </div>

{% elif reply_flag==True %} 
<h1 align="left"><b>Reply:</h1>
  <div class="container">
    <form action="" method="post" novalidate enctype="multipart/form-data">
      {{ form.compose.hidden_tag() }}
      <p>
        {{ form.compose.email_to.label }} <br />
        {{ form.compose.email_to(size=64, class="form-control")}} {% for error in
        form.compose.email_to.errors %}
        <span>[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.compose.subject.label }} <br />
        {{ form.compose.subject(size=60, class="form-control")}} {% for error in
        form.compose.subject.errors %}
        <span>[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.compose.body.label}} <br />
        {{ form.compose.body(rows=20, class="form-control", id="mytextarea")}} {% for
        error in form.compose.body.errors %}
        <span>[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.compose.attachment.label }} <br />
        {{ form.compose.attachment() }}
      </p>
      <p>{{ form.compose.submit(class="btn btn-primary") }}</p>
    </form>
  </div> 
  {% endif %}
{% endblock %}
